html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

#content {
    padding: 8px;
    max-width: 620px;
}

.guide > .mdl-card__media {
    width: 320px;
    height: 320px;
}