{% extends "base.html" %}
{% block additional_header %}
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
          <a href="#tab-1" class="mdl-layout__tab is-active">Getting Started</a>
          <a href="#tab-2" class="mdl-layout__tab">Let There Be Light</a>
          <a href="#tab-3" class="mdl-layout__tab">Push It (Real Good)</a>
        </div>
{% endblock %}
{% block content %}
<section class="mdl-layout__tab-panel is-active" id="tab-1">
  <div class="page-content">
    <h4>Getting Started</h4>
    <a href="{{ url_for('static', filename='images/1.jpg') }}" target="_blank" class="card-link">
    <div id="getting-started-image-1" class="image-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand"></div>
        <div class="mdl-card__actions">
            <span>All you need (click image to expand)</span>
        </div>
    </div>
    </a>
    <br>
    <p>First things first, gather your parts. You'll need:</p>
    <ul>
    <li>A computer</li>
    <li>A smartphone (you can get by with just your computer, but it's easier)</li>
    <li>A Particle Photon with a microUSB cable</li>
    <li>A breadboard</li>
    <li>3 short wires</li>
    <li>A LED</li>
    <li>A resistor</li>
    <li>A pushbutton</li>
    </ul>

    <p>Before we get to have any fun, you'll need to connect your Photon to the internet. Just to be safe, let's reset it first before you do that.</p>
    <p>To reset your Photon, first connect the USB cable to your computer then hold down the SETUP button on the Photon. The LED next to the button should now be blinking blue. If it's not, find Kasra.</p>
    <p>After you've made sure your Photon is in setup mode, follow the setup instructions <a href="https://docs.particle.io/guide/getting-started/hackathon/photon/#setup" target="_blank">provided by Particle</a>. Just follow along with the "Claiming and Connecting" section, then come back here and click on "Let There Be Light" in the nav at the top.</p>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="tab-2">
  <div class="page-content">
    <h4>Let there be light!</h4>
    <p>Before we get started doing anything crazy, let's setup a really simple circuit that does nothing but light up the LED. Here's what it looks like:</p>
    <a href="{{ url_for('static', filename='images/2.jpg') }}" target="_blank" class="card-link"><div id="let-there-be-light-image-1" class="image-card mdl-card mdl-shadow--2dp"></div></a>
    <br>
    <p>To create this circuit:</p>
    <ul>
    <li>Plug your Photon into the breadboard, with the left legs going into the left side of the middle ravine and the right legs going onto the right side.</li>
    <li>Plug the longer leg of the LED into any of the holes on the same line as the <strong>3V3</strong> pin.</li>
    <li>Plug the shorter leg of the LED into any of the holes on the same line as the <strong>GND</strong> pin.</li>
    </ul>

    <p>That's it! Your LED should now be lit up. If it isn't, there's either something wrong with the wiring or your Photon isn't getting enough power from the USB cable. Either way, find Kasra and we'll figure it out.</p>

    <p>You may have noticed that it's <strong>BRIGHT AS ALL HELL</strong>, that's because we're giving the LED 3V of power, in the spirit of sanity (and not burning out our lights) let's lower the strength of the light. We do this by lowering the current going to it, via a resistor. Here's what the modified circuit looks like, after adding in a resistor:</p>

    <a href="{{ url_for('static', filename='images/3.jpg') }}" target="_blank" class="card-link"><div id="let-there-be-light-image-2" class="image-card mdl-card mdl-shadow--2dp"></div></a>
    <br>
    <p>Whoa, so much changed! It's because now that we want to get more complicated, we can't simply connect directly to the Photon anymore without getting really cramped on our breadboard. To create this circuit:</p>
    <ul>
    <li>Connect a wire from any of the <strong>GND</strong> pins on the Photon to any of the holes on the <strong>-</strong> rail.</li>
    <li>Connect a wire from the <strong>3V3</strong> pin on the Photon to any of the holes on the <strong>+</strong> rail.</li>
    <li>Connect one end of the resistor (doesn't matter which, they're bidirectional) to any of the pins on the same <strong>+</strong> rail.</li>
    <li>Connect the other end of the resistor into any empty row you feel like.</li>
    <li>Plug the long leg of the LED into any hole on the same row as the resistor.</li>
    <li>Plug the short leg of the LED into any hole on the <strong>-</strong> rail.</li>
    </ul>

    <p>That's it! You should now have a dimmer light lighting up. You can turn the light on and off by breaking the circuit at any point, try removing the resistor from one of the two ends and plugging it back in to see.</p>

    <p>Now that you have the basics down, click "Push It" in the nav at the top to start the final stage.</p>
  </div>
</section>
<section class="mdl-layout__tab-panel" id="tab-3">
  <div class="page-content">
  <h3>Push It To The Limit</h3>
  
  <p>Wow did you know Georgio Moroder co-wrote that song? Crazy.</p>
  <p>Anyway, in the previous lesson we only utilized the Photon for supplying electricity to our circuit, we could've really just used a battery and the LED would've still lit up all the same. To make the final circuit, we're going to utilize more of its potential.</p>
  <p>Before we get to coding the Photon, let's setup the circuit. It's a little different, so before you start working on it clear everything off the breadboard except the Photon. Here's what we're going to assemble:</p>
  <a href="{{ url_for('static', filename='images/4.jpg') }}" target="_blank" class="card-link"><div id="push-it-image-1" class="image-card mdl-card mdl-shadow--2dp"></div></a>
  <br>
  <p>Keep in mind that it doesn't really matter where you place the individual pieces, as long as they'r connected to each other correctly. To create this circuit:</p>
  <ul>
  <li>Connect a wire from any of the <strong>GND</strong> pins on the Photon to any of the holes on the <strong>-</strong> rail.</li>
  <li>Connect one end of a resistor to the D0 pin on the Photon.</li>
  <li>Connect the other end of the resistor into any empty row.</li>
  <li>Plug the long leg of the LED into any hole on the same row as the resistor.</li>
  <li>Plug the short leg of the LED into any hole on the <strong>-</strong> rail.</li>
  <li>Plug the pushbutton onto the breadboard. It's designed to fit ontop of the center ravine. It has four legs, be sure to not put any of them on the same row as the LED and resistor.</li>
  <li>Connect a wire to the D2 pin on the Photon.</li>
  <li>Connect the other end of the wire to the top left leg of the pushbutton.</li>
  <li>Connect a wire to the bottom right leg of the pushbutton.</li>
  <li>Connect the other end of the wire to any hole on the <strong>-</strong> rail.</li>
  </ul>
  
  <p>Okay, that's all for the wiring. But right now your circuit doesn't do anything. That's because we're using the digital input/output pins of the Photon to give the circuit life, but we're not actually sending anything out of on those pins yet. Let's do that.</p>
  
  <p>To control the Photon, we're going to program it using Particle's web interface. Open up the code editor by visiting <a href="https://build.particle.io/build" target="_blank">https://build.particle.io/build</a> and login with the account you setup when first connecting the Photon to the internet.
  
  <p>Hit "Create New App" and give your app a name. Before we get down to coding, we'll need to add the HTTPClient library to let us do network calls. To do this click on the "Libraries" button on the bottom left of the page (fourth from bottom) and click on <strong>HttpClient</strong> under Community Libraries. After that, hit the big <strong>Include In App</strong> button and we're off to the races.</p>
  
  <p>What we just did added a basic networking library to the app we're writing, so that we can do web calls. Now that we're have all our ducks in a row, copy the code from <a href="https://gist.github.com/jc4p/82c00f0f394e01458a71" target="_blank">https://gist.github.com/jc4p/82c00f0f394e01458a71</a> and replace the contents of the Particle editor with it. Note: You can click <em>Raw</em> to access a easier to copy version of the code.</p>
  
  <p>The code you just copy pasted seems like it's doing a lot of stuff, but it's pretty simple. When the Photon first turns on, it runs the code in the <code>setup()</code> method once, then runs the code in the <code>loop()</code> repeatedly until it is turned off.</p>
  
  <p>Right now, the code you have is setup to simply turn the light on and off when you click the button. You can test this out by hitting the <strong>Flash</strong> button (the lightning bolt on the top left of the page). After a few seconds, your Photon should be blinking blue. When it is, tap the button on the breadboard and bam, the LED should turn on. If it doesn't, find Kasra and let's do some debugging.</p>
  
  <p>Lighting an LED is cool, but it's not as cool as sending a tweet. To finish up and start tweeting, we'll need to give the app a token so it can tweet on your behalf. This can be a complicated process, but luckily the complicated part's already done. All you need to do is visit <a href="http://soinsd-tweeter.herokuapp.com/register">http://soinsd-tweeter.herokuapp.com/register</a> and click the <strong>Login with Twitter</strong> button. After you login, the page will give you a code. Copy the <em>entire</em> code (it's long, but you can double click on it to select it all) and paste it between the quotes on line 4, replacing the <em>INSERT_YOUR_CODE_HERE</em> with your actual code.</p>
  
  <p>Now here's the hardest part: Do you want to customize the tweet? Right now it's set to tweet "Hello from #SOinSD", but you can change that on line 5 to be anything. Just be sure to keep it under 140 characters, and if you want it to show up live on our streaming walls include the hashtag #SOinSD.</p>
  
  <p>After you setup the authentication, all that's left is actually enabling the tweeting. You do this by removing the two slashes at the beginning of line 29 to uncomment the call to our <code>tweet()</code> method.</p>
  
  <p>Aand... that's it. Hit <strong>Flash</strong> one more time, wait till the Photon lights up blue, and the next time you tap the button it'll not only light up the LED but also tweet on your behalf. Don't worry about spamming, it'll only ever tweet once so you can press the button as many times as you want.</p>
  
  <p>If you pressed the button and it didn't tweet, or if you're having problems following any of this guide, find Kasra and let's figure out what's not working.</p>
  
  <p>Feel free to play around with the Photon more, there's <em>lots</em> that you can do with it. When you're done, please hold down the SETUP button on it for 3 seconds to clear its memory so that the next person that uses it doesn't accidentally tweet using your credentials.</p>
  </div>
</section>

  <style type="text/css">
    a.card-link {
        text-decoration: none;
        display: block;
        width: 320px;
    }
    .image-card {
        width: 320px;
        height: 320px;
    }
    .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
    }
    .mdl-card__actions span {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
    #getting-started-image-1 {
        background: url("{{ url_for('static', filename='images/1.jpg') }}") center / cover;
    }
    #let-there-be-light-image-1 {
        background: url("{{ url_for('static', filename='images/2.jpg') }}") center / cover;
    }
    #let-there-be-light-image-2 {
        background: url("{{ url_for('static', filename='images/3.jpg') }}") center / cover;
    }
    #push-it-image-1 {
        background: url("{{ url_for('static', filename='images/4.jpg') }}") center / cover;
    }
  </style>
{% endblock %}
{% block additional_js %}<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}